<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">E-Mail Me</a></li>
            <li><a href="https://www.facebook.com/nayabbashasayed">Facebook</a></li>
            <li><a href="https://in.linkedin.com/in/nayabsd">Linkedin</a></li>
            {% endif %}
        </ul>
      </div>

      <!--
      <div class="footer-col footer-col-2">
          <ul style="list-style-type: none">
              <div style="margin-bottom: 5px;">Categories</div>
          {% for category in site.categories %}
          {% assign catg = {{category|first}} %}
          {% if catg == "me" %}
          {% continue %}
          {% endif %}
          <li><a href="/category/{{ category | first }}.html" style="font-size: 16px;">{{ category | first }}</a></li>
          {% endfor %}
          </ul>
      </div>
      -->

      <div class="footer-col footer-col-3">
      <p>{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 500 | escape }}</p>
      </div>
    </div>

  </div>

</footer>
